* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   margin: 0;
   background: rgb(43, 42, 42);
}
.webgl {
   position: fixed;
   top: 0;
   left: 0;
   outline: none;
}
.top-nav .form {
   position: fixed;
   left: 0;
   top: 0;
   display: flex;
   justify-content: flex-start;
   margin: 1rem;
}
.select {
   text-transform: uppercase;
   font-weight: 600;
   background: rgba(255, 255, 255, 0.137);
   border: none;
   color: #000;
   border-radius: 2px;
   outline: none;
}

.top-nav .form-control {
   width: 300px;
   margin: 0 10px;
}
.btn-create {
   background: rgba(255, 255, 255, 0.137);
   color: #000;
   font-weight: 600;
}
.elem-list {
   position: fixed;
   left: 0;
   bottom: 0;
   background: rgba(255, 255, 255, 0.048);
   width: 400px;
   height: 300px;
   transition: all 0.5s ease;
}
.elem-list:hover {
   background: rgba(255, 255, 255, 0.137);
}
.elem-list .elem-list-inner {
   overflow-y: scroll;
   font-size: 14px;
}
.list-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   opacity: 0.5;
   transition: all 0.5s ease;
}
.list-item:hover {
   opacity: 1;
}
.btn-delete {
   background: #000;
   color: #fff;
}
